* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, red, rgb(255, 0, 183));
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74%;
  height: 80vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.first_gamer,
.second_gamer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  border-radius: 20px;
}
.active {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.338);
}

.player_title h1 {
  font-size: 35px;
  color: rgb(2, 2, 110);
}
.gamerScore {
  font-size: 60px;
  color: rgb(2, 2, 110);
}
.current {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  background-color: rgb(255, 0, 106);
  height: 10rem;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.current_title {
  color: white;
}
.current h1 {
  color: white;
}

.newGame_btn,
.rollDice_btn,
.holdBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(0, 93, 151);
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.4s;
}
.newGame_btn h1,
.rollDice_btn h1,
.holdBtn h1 {
  font-size: 1.2rem;
  color: rgb(0, 93, 151);
}
.newGame_btn {
  top: 50px;
}
.rollDice_btn {
  bottom: 120px;
}
.holdBtn {
  bottom: 50px;
}
.newGame_btn:hover,
.rollDice_btn:hover,
.holdBtn:hover {
  transform: scale(0.95);
}
.dice_img {
  position: absolute;
}
.dice_img img {
  display: none;
  width: 10rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.win {
  background-color: rgb(0, 193, 113);
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 13px;
  }
}
.by {
  position: absolute;
  bottom: 20px;
}
.by h1, a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}